<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @content.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @content.status %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>|
<%= link_to 'New', new_content_path %>
