<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <p> Все поля являются обязательными для заполнения!</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label "Email:" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Пароль:" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символов минимум)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label "Подтверждение пароля:" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

        <div class="field">
          <%= f.label "Ваше имя или ник:" %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label "Аватарка:"%><br>
          <%= f.file_field :avatar %>
        </div>


      <div class="actions">
        <%= f.submit "Зарегистрироваться", class: "btn btn-large btn-primary"  %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>


