<div class="row">
  <div class="col-lg-2 "><%= image_tag(style.image.thumb200.url, alt:style.image, class: "imagesStyle") %></div>
  <div class="col-lg-4"><%= style.init %></div>
  <div class="col-lg-1"><td><%= style.status %></div>
  <div class="col-lg-1"><%= style.use_counter %></div>
  <div class="col-lg-2">
    <p><%= link_to 'Show', style %></p>
    <p><%= link_to 'Edit', edit_style_path(style) %></p>
    <p><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
</div>