<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @style.image %>
</p>

<p>
  <strong>Init:</strong>
  <%= @style.init %>
</p>

<p>
  <strong>Status:</strong>
  <%= @style.status %>
</p>

<p>
  <strong>Use counter:</strong>
  <%= @style.use_counter %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
