<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label "Email:" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Пароль:" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
         <div class="field hidden">
            <%= f.check_box :remember_me,  {checked: true} %>
            <%= f.label :remember_me %>
         </div>
      <% end -%>


      <div class="actions">
        <%= f.submit "Войти", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>