
<div class="container">
  <h3></h3>
  <p>  Пожалуйста, укажите правильную Вашу почту. Обработанное изображение будут доставлено Вам на почту. </p>
  <h3></h3>
<%= form_for(@queue_image, :html => {:multipart => true, :class => "form-signin"}) do |f| %>
  <% if @queue_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@queue_image.errors.count, "error") %> Неверно заполненные данные:</h2>

      <ul>
      <% @queue_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "обрабатываемое изображение" %><br>
    <%= f.file_field :content_image %>
  </div>
  <div class="field">
    <%= f.label "шаблон"%><br>
    <%= f.file_field :style_image %>
  </div>
    <div class="field">
      <%= f.label "email"%><br>
      <%= f.email_field :user_id, cols: 60 %>
    </div>

  <div class="actions">
    <%= f.submit "Добавить в обработку", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

</div>
