<% debug = true %>
<%res_img = item_view_1.result_image %>

<li id="<%= item.id %>">


  <% if item.status > 1 %>
      <div class="row successMessage">
  <% else %>
      <div class="row">
  <% end %>


    <div class="col-md-1">
      <%= link_to(image_tag(item.content_image.thumb.url, alt:item.content_image, class: "productImage"), item.content_image.url, data:{ lightbox: "content"}) %>
    </div>

    <div class="col-md-1">
      <%= link_to(image_tag(item.style_image.thumb.url, alt:item.style_image, class: "productImage"), item.style_image.url, data:{ lightbox: "content"}) %>
    </div>


    <div class="col-md-1">
      <%= link_to(image_tag(res_img.imageurl.thumb.url, alt:res_img.imageurl, class: "productImage"), res_img.imageurl.url, data:{ lightbox: "content"})  if res_img %>
    </div>

    <div class="col-md-3 hidden-phone">
      <% if false %>
      <span class="user">
       <%= link_to "поделиться", item, method: :delete,
                   data: { confirm: "You sure?" } %>
      </span>
       <% end %>


      <span class="content"><p>Добавлено: <%= (item.created_at+10800).strftime("%d.%m.%Y %H:%M:%S")%></p> </span>


      <span class="timestamp">
        <% if item.status < 0 %>
            <p> Ошибка при обработке </p>
        <% elsif item.status == 0 %>
            <p> Ожидает обработку </p>
        <% elsif item.status == 1 %>
            <p> Обработано на (<%= item.pimages.count * 10 %>% </p>
        <% elsif item.status > 1 %>
            <p> Обработано за <%= item.ptime.strftime("%H:%M:%S")if !item.ptime.nil? %> </p>
        <% end %>
      </span>

      <span class="user">
        <p> </p>
        <% if debug && item.status != 1 %>
        <%= link_to "удалить", item, method: :delete, data: { confirm: "Вы точно хотите удалить?" } %>
         <% end %>
      </span>

    </div>


  </div>

</li>