<% debug = false %>

<%item = item_view_3 %>
<%res_img = item.result_image %>

<div class="row styleRow2-lg">

        <div class="visible-lg  col-lg-2 col-lg-offset-2 userAvatarStyle-lg" >
          <%= image_tag(item.content.image.thumb200.url, class: "imagesStyle") %>
        </div>
        <div class="visible-lg  col-lg-2 userAvatarStyle-lg">
          <%= link_to(image_tag(item.style.image.thumb200.url, alt:item.style.image, class: "imagesStyle"), item.style.image.url, class: "imagesStyle", data:{ lightbox: "content"}) %>
        </div>


        <div class="hidden-lg col-md-2 col-sm-3 col-xs-3 col-md-offset-2 userAvatarStyle-lg" >
          <%= image_tag(item.content.image.thumb200.url, class: "imagesStyle")%>
        </div>
        <div class="hidden-lg col-md-2 col-sm-3 col-xs-3 userAvatarStyle-lg">
          <%= link_to(image_tag(item.style.image.thumb200.url, alt:item.style.image, class: "imagesStyle"), item.style.image.url, class: "imagesStyle") %>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 userAvatarStyle-lg">
          <% if item.status > 4 %>
              <div class="visible-lg" >
                <%= link_to(image_tag(res_img.imageurl.thumb400.url, alt:res_img.imageurl, class: "imagesStyle"), res_img.imageurl.url, class: "imagesStyle", data:{ lightbox: "content"})  if res_img %>

              </div>
              <div class="hidden-lg" >
                <%= link_to(image_tag(res_img.imageurl.thumb400.url, alt:res_img.imageurl, class: "imagesStyle"), res_img.imageurl.url, class: "imagesStyle")  if res_img %>
              </div>
          <% else %>
            <%= image_tag("/loading_2.png", class: "imagesStyle") %>
          <% end %>
        </div>





        <div class=" col-lg-2 col-md-2 col-sm-3 col-xs-3 ">

          <% if false %>
          <span class="textAboutStyle">
           <%= link_to "поделиться", item, method: :delete,
                       data: { confirm: "You sure?" } %>
          </span>
          <% end %>

              <span class="textAboutStyle"><p><%= (item.created_at+10800).strftime("%d.%m.%Y %H:%M:%S")%></p> </span>

          <span class="textAboutStyle">
            <% if item.status < 0 %>
                <p> Ошибка при обработке </p>
            <% elsif item.status == 1 %>
                <p> Ожидает обработку </p>
            <% elsif item.status == 2 %>
                <p> Обработано на <%= item.pimages.count * 10 %>% </p>
            <% elsif item.status >= 10 %>
                <p> Обработано за <%= item.ptime.strftime("%H:%M:%S")if !item.ptime.nil? %> </p>
            <% end %>
          </span>

          <span class="">
            <p> </p>
            <% if debug || item.status == 1 %>
              <%= link_to "удалить", item, method: :delete, data: { confirm: "Вы точно хотите удалить?" } %>
            <% end %>
          </span>

        </div>

</div>










