
<div class="navbar navbar-fixed-top navbar-inverse  visible-lg" role="navigation">
  <div class="container headerStyle-lg">
      <div id="logo-lg">
        <%= link_to(image_tag('/logo.png', class: "imagesStyle"), root_path )%>
      </div>

      <ul class="nav nav-pills pull-right">
        <% if client_signed_in? && current_client.admin? %>
            <li><%= link_to "Admin", admin_pages_main_path %></li>
        <% end %>
        <% if client_signed_in? %>

          <li><%= link_to "Добавить изображения", new_queue_image_path, class: "btn btn-primary" %></li>

          <li><%= link_to "Моя коллекция",    queue_images_path %></li>
        <% end %>
        <li><%= link_to "Лента",    lenta_path %></li>
        <li><%= link_to "О проекте",    about_path %></li>
        <% if client_signed_in? %>
          <li><%= link_to "Выйти",  destroy_client_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Войти', new_client_session_path %></li>
        <% end %>
      </ul>

    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>


<div class="navbar navbar-fixed-top navbar-inverse  hidden-lg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navButtonStyle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div id="logo-xs">
        <%= link_to(image_tag('/logo.png', class: "imagesStyle"), root_path) %>
      </div>
    </div>

    <div class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav">
        <% if client_signed_in? && current_client.admin? %>
            <li><%= link_to "ADMIN", admin_pages_main_path %></li>
        <% end %>
        <% if client_signed_in? %>
            <li><%= link_to "ОБРАБОТАТЬ ИЗОБРАЖЕНИЕ", new_queue_image_path %></li>
            <li style="border-top: 1px solid #000000;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);" ><%= link_to "МОЯ КОЛЛЕКЦИЯ",    queue_images_path %></li>
        <% end %>
        <li ><%= link_to "ЛЕНТА",  lenta_path %></li>
        <li><%= link_to "О ПРОЕКТЕ",    about_path %></li>
        <% if client_signed_in? %>
            <li><%= link_to "ВЫЙТИ",  destroy_client_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'ВОЙТИ', new_client_session_path %></li>
        <% end %>
      </ul>
    </div>



    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>

<div class="hidden-lg" style="padding-bottom: 9%">
</div>
